/* All Images taken from pixelholic. Name: Pacman Game Art */

body {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffeb3b;
  text-align: center;
}

.grid-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
}

#game {
  display: flex;
  flex-flow: row wrap;
  background: white;
  height: 500px;
  width: 500px;
  background: darkblue;
}
/* 
#game > div {
  border: 1px solid black;
}
*/

.barrier {
  background-color: #46270B;
}

  .skittle {
  background: url(../Images/other/dot.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pacmandown {
  background: url(../Images/pacman-down/1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pacmandowntwo {
  background: url(../Images/pacman-down/2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pacmandownthree {
  background: url(../Images/pacman-down/3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.blinky {
  background: url(../Images/ghosts/blinky.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.blue_ghost {
  background: url(../Images/ghosts/blue_ghost.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.power-food {
  background: url(../Images/other/strawberry.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: blink 1s infinite;
}

