/* All Images taken from pixelholic. Name: Pacman Game Art */
@font-face {
  font-family: PAC-FONT;
  src: url(../PAC-FONT.TTF)
}


body {
  background-color: rgb(4, 4, 60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: PAC-FONT, san-serif;
}

h1 {
  color: #ffeb3b;
  text-align: center;
  font-family: PAC-FONT, san-serif;
  font-size: 94px;
  margin: auto;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 600px;
  width: 600px;
  font-size: 1rem;
}

#game {
  display: flex;
  flex-flow: row wrap;
  background: white;
  height: 500px;
  width: 500px;
  background: rgb(4, 4, 60);
}

span{
color:white
}

#start-button {
  z-index: 1000;
  cursor: pointer;
  border: 5%;
}

#score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  color: white;

}

#current-score {
  font-family: 'Agbalumo', sans-serif;
}

p {
  font-size: 20px;
}


/* 
#game > div {
  border: 1px solid black;
}
*/

.barrier {
  background: url(../Images/moreImages/chompermazetiles\ copy.png);
  background-size: cover;
  background-repeat: no-repeat;
}

  .skittle {
  background: url(../Images/other/dot.png);
  background-size: cover;
  background-repeat: no-repeat;
}

 .pacmandown {
  background: url(../Images/pacman-down/1.png);
  background-size: cover;
  background-repeat: no-repeat;
} 

.pacmandowntwo {
  background: url(../Images/pacman-down/2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pacmandownthree {
  background: url(../Images/pacman-down/3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.blinky {
  background: url(../Images/ghosts/blinky.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pinky {
  background: url(../Images/ghosts/pinky.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.clyde {
  background: url(../Images/ghosts/clyde.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.inky {
  background: url(../Images/ghosts/inky.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.scared-ghost {
  background: url(../Images/ghosts/blue_ghost.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.power-food {
  background: url(../Images/moreImages/shiny.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.game-won {
  position: absolute;
  margin: auto;
  align-items: center;
  background: transparent;
  font-size: 40px;
  color: yellow;
}

